<div class="form">
    <div class="form__title">
        <span>Reduslim</span>
        <span>ECO</span>
    </div>
    <div class="form__preview">
        <img class="form__preview_image" src="images/tovar.png" alt="Картинка товара">
    </div>
    <div class="form__fields">
        <div class="form__fields_title">
            Сделай шаг к выздоровлению
        </div>
        <form class="form__fields_content">
            <label class="form__fields_content__item">
                <div class="form__fields_content__item--text">Ваше <span>имя</span></div>
                <input class="form__fields_content__item--input" type="text" placeholder="Алексей" required>
            </label>
            <label class="form__fields_content__item form__fields_content__item--multi">
                <div class="form__fields_content__item--text">Ваш <span>телефон</span></div>
                <input class="form__fields_content__item--input" type="text" placeholder="+7 (123) 456 78-90" required>
            </label>
            <button class="form__fields_content--button"><span>Заказать</span></button>
        </form>
    </div>
    <div class="form__security">
        <div class="form__security--text">Trusted</div>
        <div class="form__security--icon"></div>
        <div class="form__security--text">Secure</div>
    </div>
</div>